
/*bg image*/
body {
  background-image: url('KanyeGrad.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*grid*/
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 100px 80px;  
  background-color: rgb(8, 8, 8);
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: #9a979733;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}