
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(41, 75, 109);
}

.container div {
  background-color: #f3f0f0;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}
