body {
  background-image: url('KanyeGrad.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

.center {
  text-align: center;
  color: black;
}


